
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{ 
  background-color: #214278;
  font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,label{
  color: white;
 
  text-decoration: none;
}
h1,h2{
  text-shadow: black 2px 2px 4px;
}